
  <title>Tic-Tac-Toe</title>
  <div class="board">
    <div class="row">
      <div class="cell" id='cell-0' (click)="change(0)"><span>{{ board[0][0] }}</span></div>
      <div class="cell" id='cell-1' (click)="change(1)"><span>{{ board[0][1] }}</span></div>
      <div class="cell" id='cell-2' (click)="change(2)"><span>{{ board[0][2] }}</span></div>
    </div>
    <div class="row">
      <div class="cell" id='cell-3' (click)="change(3)"><span>{{ board[1][0] }}</span></div>
      <div class="cell" id='cell-4' (click)="change(4)"><span>{{ board[1][1] }}</span></div>
      <div class="cell" id='cell-5' (click)="change(5)"><span>{{ board[1][2] }}</span></div>
    </div>
    <div class="row">
      <div class="cell" id='cell-6' (click)="change(6)"><span>{{ board[2][0] }}</span></div>
      <div class="cell" id='cell-7' (click)="change(7)"><span>{{ board[2][1] }}</span></div>
      <div class="cell" id='cell-8' (click)="change(8)"><span>{{ board[2][2] }}</span></div>
    </div>
  </div>
